node_modules/
.pnpm-store/

dist/
build/
.turbo/

.env
.env.local
.env.*.local

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.*.sublime-*

.DS_Store
AppleDouble
.LSOverride

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini

coverage/
.nyc_output/

*.local

.eslintcache

*.tsbuildinfo
*.tsbuildinfo.bak

pnpm-lock.yaml
pnpm-workspace.yaml

.bun/
bun.lockb

*.7z
*.dmg
*.gz
*.rar
*.tar
*.zip
