# Node.js
node_modules/
npm-debug.log*
pnpm-debug.log*

# pnpm
pnpm-lock.yaml
pnpm-workspace.yaml
.pnpm-store/

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Logs
*.log

# IDE / éditeurs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests / coverage
coverage/
*.lcov

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

